@font-face {
    font-family: 'Roboto';
    src: local('RobotoBold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/RobotoBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('RobotoRegular'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/RobotoRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: local('RobotoBlack'), local('Roboto-Black'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/RobotoBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('RobotoLight'), local('Roboto-Light'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/RobotoLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
  }

body {
    min-width: 320px;
    font-family: 'Roboto';
    background-color: #f4f4f7;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.title {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.08;
    letter-spacing: -0.75px;
    padding-right: 20px;
}


/* ===========================HEADER=========================== */

.header__burger {
    display: none;
}

.header {
    position: fixed;
    width: 100%;

    z-index: 100;
}

.header__wrap {
    padding: 10px 60px 10px 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #1bc58f);
    border-radius: 0 0 100px 100px;
    display: flex;
    align-items: center;
    z-index: 200;
}

.logo {
    margin-right: 120px;
}

.logo__picture {
    display: block;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 50px;
}

.header__link {
    color: #f4f4f7;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.33;
    transition: opacity .3s;
    padding: 10px 0;
}

.header__link:hover {
    opacity: 1;
}

.language {
    margin-left: auto;
}

.language__button {
    padding: 11px;
    border-radius: 50%;
    border: 1px solid transparent;
    color: #f4f4f7;
    opacity: .5;
    transition: opacity .3s;
}

.language__button:hover {
    opacity: 1;
}

.language__button:not(:last-child) {
    margin-right: 5px;
}

.language__button--active {
    border-color: #fff;
}

/* ========================REVIEW-==================== */

.review {
    margin-bottom: 100px;
}

.review__content {
    position: relative;
    padding-top: 132px;
    background-image: url("../img/review/img-header.jpg");
    background-image: -webkit-image-set(url("../img/review/img-header-webp.webp") 1x,
                                        url("../img/review/img-header@2x-webp.webp") 2x);
    background-image: image-set("../img/review/img-header-webp.webp" 1x,
                                "..img/review/img-header@2x-webp.webp" 2x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.review__content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.title--review {
    color: #f4f4f7;
    margin-bottom: 31px;
    margin-top: 40px;
    padding: 0 200px;
}

.review__description {
    padding: 0 310px 0 200px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #f4f4f7;
    opacity: .5;
    margin-bottom: 78px;
}

.button {
    display: inline-block;
    width: 580px;
    font-size: 20px;
    font-weight: 300;
    padding: 25px 0 25px 200px;
    line-height: 1.5;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    color: #f4f4f7;
    background-image: url('../img/ic-next.svg');
    background-repeat: no-repeat;
    background-position: 91%;
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s, background-position .3s;
}

.button:hover {
    opacity: 1;
    background-position: 95%;
}

/* ===================ABOUT=================== */

.about {
    margin-bottom: 107px;
}

.about__container {
    padding-left: 200px;
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 107px; 
}

.title--about {
    max-width: 700px;
    margin-bottom: 30px;
}

.about__descr {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 88px;
    padding-right: 20px;
}

.direction {
    display: flex;
    flex-wrap: wrap;
}

.direction__item {
    width: 240px;
    margin-bottom: 70px;
}

.direction__item {
    margin-right: 60px;
}

.direction__item:nth-child(3n) {
    margin-right: 0;
}

.direction__picture {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
    flex-shrink: 1;
}

.direction__description {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: normal;
}

.skill__title {
    color: #c0c6c8;
    margin-bottom: 75px;
}

.skill__list {
    column-count: 2;
    column-gap: 90px;
    padding-right: 125px;
    margin-left: -57px;
}

.skill__item {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #2d2d42;
    margin-bottom: 27px;
    padding-left: 56px;
}

.skill__item::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    height: 1px;
    width: 30px;
    background-color: #64cae1;
}

/* ================WORK================= */

.work {
    margin-bottom: 44px;
}

.title--work {
    margin-left: 200px;
    margin-bottom: 23px;
}

.work__descr {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    margin-left: 200px;
    margin-bottom: 90px;
    padding-right: 20px;
}

.work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 27px;
}

.work__content {
    max-width: 440px;
}

.work__item {
    display: inline-block;
    max-width: 49%;
    min-height: 641px;
}

.work__picture {
    cursor: pointer;
    display: block;
    margin-bottom: 40px;
    overflow: hidden;
}

.work__img {
    transition: transform .3s;
    display: block;
}

.work__img:hover {
    transform: scale(1.1);
}

.work__title-min {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin-bottom: 31px;
}

.work__title-min--first {
    margin-bottom: 40px;
}

.work__text {
    cursor: pointer;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    color: #2d2d42;
    transition: text-shadow .2s;
}

.work__text:hover {
    text-shadow: 0px 5px 5px #494d4f;
}

.work__item--first {
    min-height: 0;
}

.work__item--first h5 {
    margin-bottom: 41px;
}

.work__text--first {
    color: #f4f4f7
}

.work__item:first-child {
    position: relative;
    margin-bottom: 20px;
    max-width: 100%;
}

.work__picture--first {
    margin: 0;
    display: block;
}

.work__img--first {
    object-fit: cover;
}

.work__content--first {
    position: absolute;
    bottom: 4%;
    left: 17%;
    padding: 40px 40px 40px 40px;
    z-index: 10;
    max-width: 380px;
    min-height: 380px;
    background-color: #64cae1;
    color: #f4f4f7;
}

.work__content--last {
    position: absolute;
    bottom: 9.5%;
    left: 51%;
    padding: 40px;
    z-index: 10;
    max-width: 380px;
    min-height: 380px;
    padding: 40px;  
    background-color: #f4f4f7;
    color: #2d2d42;
}

.work__content--last h5 {
    margin-bottom: 50px;
}

.team {
    position: relative;
    margin-bottom: 96px;
    max-width: 100%;
}

.team__content {
    position: absolute;
    bottom: 24px;
    left: 51%;
    padding: 40px;
    z-index: 10;
    max-width: 380px;
    min-height: 380px;
    padding: 40px;  
    background-color: #f4f4f7;
    color: #2d2d42;
}

.team__title-min {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin-bottom: 51px;
}

.team__text {
    cursor: pointer;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    color: #2d2d42;
    transition: text-shadow .3s;
}

.team__text:hover {
    text-shadow: 0px 5px 5px #494d4f;
}

/* =================INSIDE=============== */

.inside {
    margin-bottom: 100px;
}

.title--inside {
    margin-left: 200px;
    margin-bottom: 27px;
}

.inside__description {
    margin-left: 200px;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 93px;
    padding-right: 20px;
}

.slider {
    position: relative;
    margin-bottom: 81px;
}

.slider__content {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 400px;
    height: 380px;
    background-color: #f4f4f7;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.slider__title {
    font-size: 13px;
    font-weight: 900;
    margin-bottom: 30px;
    line-height: 1.54;
    letter-spacing: 1.73px;
}

.slider__description {
    cursor: pointer;
    font-size: 30px;
    font-weight: 300;
    max-width: 340px;
    margin-bottom: 55px;
    line-height: 1.33;
    transition: text-shadow .3s;
}

.slider__description:hover {
    text-shadow: 0px 5px 5px #494d4f;
}

.slider__picture {
    display: block;
    margin-left: 200px;
}

.slider__logo {
    width: 50px;
    height: 26px;
}

.slider__buttons--arrow {
    display: none;
}

.slider__buttons {
    display: flex;
    margin-top: auto;
}

.slider__button {
    position: relative;
    width: 65px;
    background-color: #c0c6c8;
    height: 1px;
}

.slider__button::before {
    content: '';
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    left: 0;
    width: 100%;
    height: 30px;
}

.slider__button:hover {
    box-shadow: 0 0 5px 5px #c0c6c8;
}

.slider__button:not(:last-child) {
    margin-right: 9px;
}

.slider__button--active {
    background-color: #2d2d42;
}

.news__title {
    font-size: 13px;
    font-weight: 900;
    margin-bottom: 53px;
    letter-spacing: 1.73px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.news__item {
    max-width: 280px;
}

.news__link {
    font-size: 20px;
    font-weight: 300;
    color: #2d2d42;
    margin-bottom: 20px;
    line-height: 1.5;
    transition: text-shadow .3s;
}

.news__link:hover {
    text-shadow: 0px 5px 5px #494d4f;
}

.news__time {
    display: block;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;
    color: #93a4a9;
}

/* ===========FOOTER=============== */

.footer__container {
    padding-left: 200px;
    padding-right: 73px;
    position: relative;
    padding-top: 100px;
    background-color: #000;
    z-index: 0
}

.map {
    position: absolute;
    top: 25%;
    left: 21%;
    z-index: -1;
}

.map__picture {
    display: block;
}

.map__norway,
.map__belarus {
    position: absolute;
    border-radius: 50%;
}

.map__norway {
    background-color: #64cae1;
    top: 17%;
    left: 47%;
    width: 50px;
    height: 50px;
}

.map__belarus {
    background-color: #d04b9b;
    top: 22%;
    left: 56%;
    width: 40px;
    height: 40px;
}

.title--footer {
    display: inline-block;
    color: #f4f4f7;
    margin-right: 240px;
    margin-bottom: 75px;
}

.footer__socials {
    display: inline-block;
    text-align: center;
}

.footer__link {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
    transition: fill .3s;
}


.footer__description {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    color: #f4f4f7;
    margin-bottom: 90px;
    max-width: 380px;
    opacity: .7;
}

.footer__link:not(:last-child) {
    margin-right: 20px;
}

.footer__link svg path {
    transition: fill .3s;
}

.footer__link:hover svg path{
    fill: #93a4a9;
}

.contacts {
    display: inline-block;
    margin-bottom: 70px;
}

.contacts--first {
    margin-right: 187px;
}

.contacts__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #f4f4f7;
    margin-bottom: 20px;
}

.contacts__address>* {
    display: block;
}

.contacts__address {
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
    color: #f4f4f7;
    opacity: .7;

}

.contacts__tel {
    display: block;
    width: 120px;
}

.contacts__mail {
    display: inline-block;
    color: #64cae1;
}

.button--bg {
    display: inline-block;
    background-color: #64cae1;
    border: none;
    margin-right: 113px;
    opacity: 1;
    margin-left: -200px;
}

.footer__copyright {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: #f4f4f7;
    margin-left: auto;
    opacity: .7;
}

.button--mobile {
    display: none;
}