@font-face {
    font-family: 'Roboto';
    src: url('fonts/RobotoRegular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/RobotoLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/RobotoBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src:  url('fonts/RobotoBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --darkish-pink: #d04b9b;
    --cool-grey: #93a4a9;
    --dusty-orange: #f47e3d;
    --dark-sky-blue: #64cae1;
    --silver: #c0c6c8;
    --white: #fff;
    --dark: #2d2d42;
    --pale-grey: #f4f4f7;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto';
    background-color: var(--pale-grey);
    padding: 0 130px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.title {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.08;
}


/* ===========================HEADER=========================== */

.header {
    position: relative;
}

    .header__wrap {
    padding: 40px;
    position: absolute;
    /* width: 100%; */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.header__logo {
margin-right: 120px;
}

.header__list {
    display: flex;
}

.header__item {
    color: var(--pale-grey);
    opacity: 0.5;
}

.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__languages {
    margin-left: auto;
}

.header__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--pale-grey);
    opacity: .5;
}

.header__button--active {
    border: solid 1px var(--white);
}

/* ========================REVIEW-==================== */

.review {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/img-header.jpg') no-repeat center;
    background-size: cover;
    margin-bottom: 100px;
}

/* .review::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
} */

.review__content {
    margin: 0 200px;
    padding-top: 172px;
}

.review__heading {
    color: var(--pale-grey);
    margin-bottom: 30px;
}

.review__description {
    font-size: 20px;
    font-weight: 300;
    color: var(--pale-grey);
    opacity: .5;
    margin-bottom: 78px;
}

.review__link {
    display: inline-block;
    width: 580px;
    font-size: 20px;
    font-weight: 300;
    padding: 25px 0 25px 200px;
    border-top: solid 1px var(--white);
    border-right: solid 1px var(--white);
    color: var(--pale-grey);
    background-image: url('img/ic-next.svg');
    background-repeat: no-repeat;
    background-position: 90%;
    opacity: .5;
}


/* ===================ABOUT=================== */

.about {
    padding-top: 90px;
    background-color: var(--white);
    margin-bottom: 100px;
}

.about__container {
    padding-left: 200px;
}

.about__title {
    max-width: 700px;
    margin-bottom: 30px;
}

.about__descr {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 85px;
}

.directions {
    display: flex;
    margin-bottom: 70px;
}

.direction__item {
    width: 240px;
}

.direction__item:not(:last-child) {
    margin-right: 60px;
}

.direction__picture {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.direction__picture--first {
    background-color: #63c9e0;
}

.direction__picture--second {
    background-color: #f47e3d;
}

.direction__picture--third {
    background-color: #d04b9b;
}

.direction__img {
    margin: 0 auto;
}

.direction__description {
    font-size: 20px;
    font-weight: bold;
}

.skills__title {
    color: var(--silver);
    margin-bottom: 75px;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__item {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    width: 40%;
    color: var(--dark);
    margin-bottom: 20px;
}

.skills__item::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 110%;
    height: 1px;
    width: 30px;
    background-color: var(--dark-sky-blue);
}

/* ================WORK================= */

.work {
    margin-bottom: 100px;
}

.work__title {
    margin-left: 200px;
    margin-bottom: 25px;
}

.work__descr {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    padding-left: 200px;
    margin-bottom: 90px;
}

.work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work__content {
    max-width: 440px;
}

.work__item {
    display: inline-block;
    max-width: 49%;
}

.work__picture {
    display: block;
    margin-bottom: 40px;
}

.work__title--min {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin-bottom: 39px;
}

.work__text {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    color: var(--dark);
}

.work__item:first-child,
.work__item:last-child {
    position: relative;
    margin-bottom: 70px;
    max-width: 100%;
}

.work__picture--first {
    margin: 0;
}

.work__img--first {
    object-fit: cover;  
}

.work__content--first {
    position: absolute;
    bottom: 3%;
    left: 15%;
    padding: 40px;
    z-index: 10;
    max-width: 380px;
    padding: 40px;  
    background-color: var(--dark-sky-blue);
    color: var(--pale-grey);
}

.work__item:last-child {
    margin-top: 100px;
}

.work__content--last {
    position: absolute;
    bottom: 10%;
    left: 51%;
    padding: 40px;
    z-index: 10;
    max-width: 380px;
    min-height: 380px;
    padding: 40px;  
    background-color: var(--pale-grey);
    color: var(--dark);
}

/* =================INSIDE=============== */

.inside {
    margin-bottom: 100px;
}

.inside__title {
    margin-left: 200px;
}

.inside__description {
    margin-left: 200px;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
}

.slider {
    position: relative;
    margin-bottom: 80px;
}

.slider__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 380px;
    background-color: var(--pale-grey);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.slider__title {
    font-size: 13px;
    font-weight: 900;
    padding-bottom: 30px;
}

.slider__description {
    font-size: 30px;
    font-weight: 300;
    max-width: 340px;
    margin-bottom: 55px;
}

.slider__picture {
    margin-left: 200px;
    width: 100%;
}

.slide__logo {
    width: 50px;
    height: 26px;
}

.slider__buttons {
    display: flex;
    margin-top: auto;

}

.slider__button {
    width: 65px;
    height: 1px;
    background-color: var(--silver);
}

.slider__button:not(:last-child) {
    margin-right: 9px;
}

.slider__button--active {
    background-color: var(--dark);
}

.news {

}

.news__title {
    font-size: 13px;
    font-weight: 900;
    margin-bottom: 50px;
}

.news__list {
    display: flex;
}

.news__item {
    margin-right: 120px;
}

.news__text {
    font-size: 20px;
    font-weight: 300;
    color: var(--dark);
    margin-bottom: 20px;
}

.news__time {
    font-size: 15px;
    font-weight: 300;
    color: var(--cool-grey);
}

/* ===========FOOTER=============== */

.footer {
    position: relative;
    padding-top: 100px;
    /* background: url('img/footer/img-map\ \(1\).svg') no-repeat 90% 75%; */
    /* background-size: contain; */
    background-color: #000;
    z-index: -2;
}

.footer__maps {
    position: absolute;
    /* width: 900px;
    height: 440px; */
    top: 23%;
    left: 23%;
    z-index: -1;
}

.footer__maps::before,
.footer__maps::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.footer__maps::before {
    width: 50px;
    height: 50px;
    background-color: var(--dark-sky-blue);
    top: 17%;
    left: 46%;
}

.footer__maps::after {
    width: 40px;
    height: 40px;
    background-color: var(--darkish-pink);
    top: 25%;
    left: 56%;
}

.footer__container {
    padding-left: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    z-index: 10;
}

.footer__container > * {
    width: 45%;
}

.footer__title {
    display: inline-block;
    color: var(--pale-grey);
    /* margin-bottom: 75px; */
    /* margin-right: 200px; */
}

.footer__description {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    color: var(--pale-grey);
    margin-bottom: 90px;
    max-width: 380px;
    margin-right: 200px;
    margin-top: 75px;
}

.footer__socials {
    display: inline-block;
}

.footer__link:not(:last-child) {
    margin-right: 25px;
}

.contacts {
    display: inline-block;
    margin-bottom: 70px;
}

.contacts:last-child {
    margin-left: auto;
}

.contacts__address>* {
    display: block;
}

.contacts__address {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
    color: var(--pale-grey);
}


.review__link--footer {
    display: inline-block;
    background-color: var(--dark-sky-blue);
    border: none;
    margin-right: 118px;
    opacity: 1;
}

.footer__copyright {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: var(--pale-grey);
    margin-left: auto;
}